<div class="my_container">
    @if (@ViewData["Page"] != null)
    {
        @Html.Raw(@ViewData["Page"]);
    }
    else
    {
        <h3>Вы запомнілі патрэбую колькасць слоу на сення</h3>
    }
    
</div>
<div class="my_buttons">
    @if (ViewData["level"] != null)
    {
        <h1>Level: @ViewData["level"]</h1>
    }
    @if (@ViewData["Page"] != null)
    {

@if ((int)@ViewData["id"] == 0)
{
    @Html.Raw(@ViewData["listAddition"])
    ;
}
        @if ((int)@ViewData["id"] == 0)
        {
            <form method="post">
                <button type="submit">Запомні-ў(-ла) (Next)</button>
            </form>
        }
        else
        {
            <a asp-action="LearnWord">Вярнуцца</a>
        }
    }

</div>

@section Scripts {
    <script src="~/js/site.js"></script>
}